/* You can add global styles to this file, and also import other style files */

//  FONTS
@font-face {
  font-family: 'Plus Jakarta Sans', sans-serif;
  src:  url('./assets/fonts/PlusJakartaSans-Bold.ttf'),
        url('./assets/fonts/PlusJakartaSans-Light.ttf'),
        url('./assets/fonts/PlusJakartaSans-Medium.ttf'),
        url('./assets/fonts/PlusJakartaSans-SemiBold.ttf');
  font-weight: normal;
  font-style: normal;
}

// GLOBAL RESET
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: #f2f6fb;
  color: #1f2937;
  line-height: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
}

button {
  font-family: inherit;
  background: none;
  border: none;
  cursor: pointer;
}
